<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" src="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This was created by Andries to show that this thing works.</p>
            <img class="portrait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>